/* основной цвет текста color:#757575; */
/* вспомагательный цвет текста color: #212121; */
/* цвет текста на кнопках color: #FFFFFF; */
/* цвет текста для hover и фокуса color: #2196F3; */
/* цвет кнопок в портфолио color: #F5F4FA */


:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff;
    --portfolio-bg-color: #F5F4FA;
}
body{
    font-family: Roboto, sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-size: 16px;
}
.list{
    list-style: none;
}
/* logo */
.logo{
    font-family: Raleway, sans-serif;
    color: var(--title-text-color);
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}
.logo .element{
    color: var(--accent-color);
}
/* Site-nav */
.site-nav .link{
    color: var(--title-text-color);
    text-decoration: none;
}
.site-nav .link-current{
    color: var(--accent-color);
}
.site-nav .link:hover, .site-nav .link:focus{
    color: var(--accent-color);
}
/* cont-nav */
.cont-nav .link{
    color: var(--primary-text-color);
    text-decoration: none;
}
.cont-nav .link:hover, .cont-nav .link:focus{
    color: var(--accent-color);
}
/* Hero */
.hero-title{
    color: var(--primary-bg-color);
    font-size: 44px;
}
/* Section */
.section{
    font-size: 14px;
}
.section-title{
    color: var(--title-text-color);
    font-size: 36px;
}
.section .title{
    color: var(--primary-bg-color);
    font-size: 14px;
}
/* Features */
.feature-list .title{
    color: var(--title-text-color);
    font-size: 14px;
}
/* Button */
.button{
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}
.button.primary{
    color: var(--title-text-color);
    background-color: var(--portfolio-bg-color);
    text-decoration: none;
}
/* .button.secondary{
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
} */
.button.primary:hover, .button.primary:focus{
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}
/* Team */
.team{
    font-size: 16px;
}
.team-title{
    color: var(--title-text-color);
    font-size: 16px;
}
.team-link{
    color: var(--title-text-color); 
    /* после inline svg убрать */
}
.team-link:hover, .team-link:focus{
    color: var(--accent-color);
}
/* Portfolio */
.portfolio .link{
    text-decoration: none;
}
.portfolio .title{
    color: var(--title-text-color);
    font-size: 18px;
}
.portfolio .text{
    color: var(--primary-text-color);
}
/* Footer */
.footer{
    color: var(--primary-bg-color);
    font-size: 14px;
}
.footer .link{
    color: rgba(255, 255, 255, 0.6);
}
.copyright{
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
}