/* основной цвет текста color:#757575; */
/* вспомагательный цвет текста color: #212121; */
/* цвет текста на кнопках color: #FFFFFF; */
/* цвет текста для hover и фокуса color: #2196F3; */
:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff;
}
body{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-size: 16px;
}
.list{
    list-style: none;
}

/* Site-nav */
.site-nav .link{
    color: var(--title-text-color);
}
.site-nav .link-current{
    color: var(--accent-color);
}
.site-nav .link:hover, .site-nav .link:focus{
    color: var(--accent-color);
}
/* auth-nav */
.auth-nav .link{
    color: var(--primary-text-color);
}
.auth-nav .link:hover, .site-nav .link:focus{
    color: var(--accent-color);
}
/* Hero */
.hero-title{
    /* color: #fff; */
    font-size: 44px;
}
/* Section */
.section{
    font-size: 14px;
}
.section-title{
    color: var(--title-text-color);
    font-size: 36px;
}
/* Features */
.feature-list .title{
    color: var(--title-text-color);
    font-size: 14px;
}
/* Button */
.button{
    color: var(--primary-bg-color);
    background-color: var(--accent-color);

}
/* Team */
.team{
    font-size: 16px;
}
.team-title{
    color: var(--title-text-color);
    font-size: 16px;
}
